<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importing Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fascinate+Inline&family=Macondo+Swash+Caps&family=Monofett&family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- Importing CSS -->
    <link rel="stylesheet" href="static\styleregister.css">

    <title>Register</title>
</head>

<body>

<div id="bodyBckg">

    {% block nav %} {% endblock %}

    <div id="contentBckg"> 

            <div id="content">
                {% block content %} {% endblock %}
            </div>
    
    </div>

</div>
</body>
</html>
