<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importing Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fascinate+Inline&family=Macondo+Swash+Caps&family=Monofett&family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- Importing CSS -->
    <link rel="stylesheet" href="static\stylehome.css">

    <title>Accountabilit-E</title>
</head>

<body>

<div id="bodyBckg">

    <nav class="navbar">
        <div id="navdiv"> 
            <h1> Accountabilit-E </h1>
            <ul>
                <li id="navlist"> <a href="http://127.0.0.1:5000/" style="--clr:#CA7B80" id="register"> <div> Home </div> </a> </li>
                <!-- <li id="navlist"> <a href="" style="--clr:#CA7B80" id="register"> <div> About </div> </a> </li>
                <li id="navlist"> <a href="" style="--clr:#CA7B80" id="register"> <div> Contact </div> </a> </li> -->
                <li id="navlist"> <a href="http://127.0.0.1:5000/login" style="--clr:#CA7B80" id="register"> <div> Login </div> </a> </li>
            </ul>
            
        </div>
    </nav>

    <div id="contentBckg"> 

            <div id="content">
                {% block content %} {% endblock%}
            </div>

            <div id="title">
                {% block title %} {% endblock %}
            </div>
            
            <div id="slogan">
                {% block slogan %} {% endblock %}
            </div>

            <div>
                {% block register%} {% endblock %}
            </div>
            
    </div>

</div>

</body>
</html>