<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Importing Google font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fascinate+Inline&family=Macondo+Swash+Caps&family=Monofett&family=Playfair+Display&display=swap" rel="stylesheet">
     
     <link rel="stylesheet" href='\static\styleSchedule.css'> 

    <title>Saved</title>
</head>
<body>
    <header id="savedHead">
        <h1>  Schedule has been saved! </h1>
    </header>
    
    <div id="savedButtons">
        <a href=http://127.0.0.1:5000/users/ScheduleMaker/{{user.username}}> <button> Schedule Creator </button> </a>
        <a href=http://127.0.0.1:5000/users/{{user.username}}> <button> Home page </button> </a>
    </div>
</body>
</html>