<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importing Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fascinate+Inline&family=Macondo+Swash+Caps&family=Monofett&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href='\static\styleScheduleFull.css'> 
    <title> User Goals </title>
</head>

<body>

    <section id="bodyBckg">
    <nav class="navbar">
        <div id="navdiv"> 
            <h1> Accountabilit-E </h1>
            <ul>
                <li id="navlist"> <a href="http://127.0.0.1:5000/users/{{user.username}}" style="--clr:#CA7B80" id="nav"> User Page </a> </li>
                <li id="navlist"> <a href="http://127.0.0.1:5000/users/GoalPlan/{{user.username}}" style="--clr:#CA7B80" id="nav"> Goal Plans </a> </li>
                <li id="navlist"> <a href="http://127.0.0.1:5000/users/EditGoals/{{user.username}}" style="--clr:#CA7B80" id="nav"> Delete Goal </a></li>
            </ul>
            
        </div>
    </nav>
    
    <div id="form">
    <h1> Goal Creator </h1>
    
    <form method="POST">
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}
        </p>
        {% endfor %}  
    
        <button type="submit"> Submit </button>
    
    </form>
</div>

    <table id="goalTable">
        <thead>
            <tr>
                <th> Goal Type </th>
                <th> Goal </th>
                <th> Goal ID </th>
            </tr>
        </thead>
    
        <tbody>
            {% for goal in all_goals %}
                <tr>
                    <td> {{goal.goal_code}} </td>
                    <td> {{goal.goal}} </td>
                    <td> {{goal.id}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</section>
</body>
</html>

