<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importing Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fascinate+Inline&family=Macondo+Swash+Caps&family=Monofett&family=Playfair+Display&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href='\static\styleSchedule.css'> 

    <title> User Schedule </title>
</head>

<body>

    <nav class="navbar">
        <div id="navdiv"> 
            <h1> Accountabilit-E </h1>
            <ul>
                <li id="navlist"> <a href="http://127.0.0.1:5000/users/{{user.username}}" style="--clr:#CA7B80" id="nav"> User Page </a> </li>
                <li id="navlist"> <a href="http://127.0.0.1:5000/users/ScheduleFull/{{user.username}}" style="--clr:#CA7B80" id="nav"> Schedule </a> </li>
                <li id="navlist"> <a href="http://127.0.0.1:5000/logout" style="--clr:#CA7B80" id="nav"> <div> Log out </div> </a> </li>
            </ul>
            
        </div>
    </nav>

    <section class="bodyBckg">

        <header>
            <img src="{{user.profile_picture}}", height="85px", width="85px", alt="User Profile Picture">
            <h1>{{user.first_name}} {{user.last_name}}'s Schedule </h1>
        </header>

        <div id="InstructionsDiv">
            <section class="instructions">

                <h2> Rules for Calander </h2>
                <ul>
                   <li> Make sure you fill out all spots in the form </li>
                   <li> Use military time </li>
                    <li> When selecting multiple days click and hold</li>
                    <li> Next to move on! </li>
                </ul>
                <button onclick="ScheduleForm()"> Next </button>
            </section>
        </div>

    <div id="FormDiv" style="display:none">
        
        <form method="POST">
            {{ form.hidden_tag() }}
        
            {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field }}
            </p>
            {% endfor %}  
        
            <button type="submit"> Submit </button>
            <button onclick="InstructionsShow()"> Instructions </button>
    
        </form>


    </div>
    </section>


    <script>
        function ScheduleForm() {
        var I = document.getElementById("InstructionsDiv");
        var F = document.getElementById("FormDiv");
        I.style.display = "none"; // <-- Hides the Instructions
        F.style.display = "block";  // <-- Set it to block
        }
    </script>

    <!-- Javascript to pull back up the instructions-->
    <script>
        function InstructionsShow(){
            var I = document.getElementById("InstructionsDiv");
            var F = document.getElementById("FormDiv");
            I.style.display = "flex";
            F.style.display = "none";

        }
    </script>
</section>
</body>
</html>
